.Navbar{
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #2B2B2B;
  
}
ul {
  height: 50px;
  text-align: center;
  
}
li {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.Link {
  font-size: 13px;
  margin-left: 4%;
  margin-right: 4%;
}
.Link:hover{
  color: #be1f1a;
  font-size: 18px;
}

.Navbar-1{
  display: flex;
  
  width: 50%;
}
.Navbar-2{
  display: flex;
  justify-content: end;
  width: 50%;
}


  

